---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";



/* CUSTOMIZATION FOR OBI SITE BELOW */

.page__hero--overlay {
	padding: 2em 0 1em 0;
	text-align: center;
}

.page__hero--overlay .page__lead {
	max-width: none !important;
}

.page__hero--overlay .btn {margin: 0 2em !important;}

.page__content p, .page__content li, .page__content dl {
    font-size: 0.9rem !important;
}

/* $link-color: navy-blue; */


@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
